/Advanced
/Basic
/bottom_3_jobs.png
/count of top job postings.png
/Data jobs chart.png
/job_posted_month.png
/pie chart subplots.png
/Project
/salary count vs count of job postings for top 10 skills.png
/test.ipynb
/top 10 paying skills & 10 demand skills.png